<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Revo Coffee</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link type="image/x-icon" href="img/coffee_icon_2.png" rel="icon" />
  </head>

  <body>
    <header>
      <h1>
        YOUR <br />
        <span>&nbsp;PERSONALIZED&nbsp;</span><br />
        COFFEE
      </h1>
      <div class="left_header_section">
        <img class="logo_img" src="img/revo_logo.svg" alt="" />
      </div>

      <div class="center_header_section">
        <img class="header_br_img" src="img/header_br_img.png" alt="" />
      </div>

      <div class="right_header_section">
        <div class="basket_img_container">
          <img class="basket_img" src="img/basket.svg" alt="" />
          <div class="basket_img_circle">
            <p>2</p>
          </div>
        </div>
        <div class="interaction_btn">
          <div class="login_btn">log in</div>
          <div class="regist_btn">regist</div>
        </div>
        <nav>
          <h2>HOME PAGE</h2>
          <ul>
            <li>COFFEE</li>
            <li>COLOR FILTER</li>
            <li>COFFEE COMBO</li>
            <li>GIFTSET</li>
            <li>CONTACT</li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="base">
        <div class="header_base">
          <p>Your Personalized Coffee</p>
          <h2>COFFEE BUILD YOUR BASE</h2>
        </div>

        <div class="base_card_container">
          <div class="card_base_1">
            <img src="img/icon_1.svg" alt="" />
            <div class="text_card_base">
              <h3>Source</h3>
              <p>
                Arabica and Robusta coffee beans meet international standards.
              </p>
            </div>
          </div>

          <div class="card_base_2">
            <img src="img/icon_2.svg" alt="" />
            <div class="text_card_base">
              <h3>Quality</h3>
              <p>
                Each coffee bean is a highly concentrated process of coffee
                artisans.
              </p>
            </div>
          </div>

          <div class="card_base_3">
            <img src="img/icon_3.svg" alt="" />
            <div class="text_card_base">
              <h3>Nuts</h3>
              <p>
                70% of the quality of a cup of coffee comes from the origin and
                quality of the green bean.
              </p>
            </div>
          </div>

          <div class="card_base_4">
            <img src="img/icon_4.svg" alt="" />
            <div class="text_card_base">
              <h3>Bartending</h3>
              <p>
                The coffee beans are molted through a thorough and rigorous
                roasting process.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="carousel_1">
        <div class="header_carousel_1">
          <p>Choose Your Favorite</p>
          <h2>STANDARD GUARANTEE</h2>
        </div>

        <div class="left_decor_line"></div>

        <div class="btn_next"><img src="img/arrow.svg" alt="" /></div>
        <div class="btn_previous complete_absence_on_the_page">
          <img src="img/arrow.svg" alt="" />
        </div>

        <div class="carousel_container">
          <div class="card_container">
            <div class="img_carousel_1">
              <img src="img/coffee_1_1.png" alt="" />
            </div>
            <div class="text_card">
              <p class="price">99.000</p>
              <p class="name_coffee">REVO Morning</p>
              <p class="taste">Bitter, sweet aftertaste, floral scent</p>
              <div class="btn_card_container">
                <p class="buy">BUY NOW</p>
                <p class="detail">DETAIL</p>
              </div>
            </div>
          </div>

          <div class="card_container">
            <div class="img_carousel_1">
              <img src="img/coffee_1_2.png" alt="" />
            </div>
            <div class="text_card">
              <p class="price">139.000</p>
              <p class="name_coffee">REVO Origin</p>
              <p class="taste">
                Sweet aftertaste, less bitter, strawberry sour taste
              </p>
              <div class="btn_card_container">
                <p class="buy">BUY NOW</p>
                <p class="detail">DETAIL</p>
              </div>
            </div>
          </div>

          <div class="card_container">
            <div class="img_carousel_1">
              <img src="img/coffee_2_1.png" alt="" />
            </div>
            <div class="text_card">
              <p class="price">85.000</p>
              <p class="name_coffee">REVO Everyday</p>
              <p class="taste">Balance, bitter aftertaste, chocolate taste</p>
              <div class="btn_card_container">
                <p class="buy">BUY NOW</p>
                <p class="detail">DETAIL</p>
              </div>
            </div>
          </div>

          <div class="card_container">
            <div class="img_carousel_1">
              <img src="img/coffee_2_2.png" alt="" />
            </div>
            <div class="text_card">
              <p class="price">75.000</p>
              <p class="name_coffee">REVO Bold</p>
              <p class="taste">Bold, bitter, traditional</p>
              <div class="btn_card_container">
                <p class="buy">BUY NOW</p>
                <p class="detail">DETAIL</p>
              </div>
            </div>
          </div>

          <div class="card_container">
            <div class="img_carousel_1">
              <img src="img/coffee_3_1.png" alt="" />
            </div>
            <div class="text_card">
              <p class="price">195.000</p>
              <p class="name_coffee">REVO Honey</p>
              <p class="taste">
                High sweetness, after sweet, sour apple family
              </p>
              <div class="btn_card_container">
                <p class="buy">BUY NOW</p>
                <p class="detail">DETAIL</p>
              </div>
            </div>
          </div>

          <div class="card_container">
            <div class="img_carousel_1">
              <img src="img/coffee_3_2.png" alt="" />
            </div>
            <div class="text_card">
              <p class="price">169.000</p>
              <p class="name_coffee">REVO Natural</p>
              <p class="taste">
                Sweet aftertaste, floral scent, strawberry sour taste
              </p>
              <div class="btn_card_container">
                <p class="buy">BUY NOW</p>
                <p class="detail">DETAIL</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="giftset_container">
        <div class="brc_giftset"></div>
        <div class="giftset_position">
          <div class="giftset_header">
            <p>Best Gift For Best Friend</p>
            <h2>GIFTSET</h2>
          </div>

          <div class="big_card_container">
            <div class="big_card_txt_img_container">
              <div class="big_card_txt_bgr_container">
                <div class="big_card_txt_container">
                  <p class="big_card_price">285.000</p>
                  <h2>Giftset "Vietnamese filter coffee"</h2>
                  <p class="big_card_annotation">
                    Great gift for coffee connoisseurs. Coffee beans are
                    carefully selected by Revo, roasted and ground according to
                    the technology and know-how learned from famous artisans,
                    along with the love and passion of coffee makers… creating
                    pure cups of coffee only exclusively for you.
                  </p>
                  <div class="big_card_icon_container">
                    <div>
                      <img src="img/coffee_icon.svg" alt="" />
                      <p>
                        <span>Kind of nut</span><br />
                        Fine Robusta Blend
                      </p>
                    </div>
                    <div>
                      <img src="img/mountain.svg" alt="" />
                      <p>
                        <span>Height</span> <br />
                        700 - 800m
                      </p>
                    </div>
                  </div>
                  <div class="big_card_btn_container">
                    <div class="big_card_btn_1 big_card_btn">BUY NOW</div>
                    <div class="big_card_btn_2 big_card_btn">DETAIL</div>
                  </div>
                </div>
              </div>
              <div class="big_card_img_container">
                <div id="big_coffee_img"></div>
              </div>
            </div>
            <div class="big_card_number_container">
              <div id="bc_btn_1" class="big_card_number active">1</div>
              <div id="bc_btn_2" class="big_card_number">2</div>
              <div id="bc_btn_3" class="big_card_number">3</div>
            </div>
          </div>
        </div>
      </section>
      <section class="combo_section">
        <div class="brc_combo"></div>
        <div class="header_combo">
          <p>Your Personalized Coffee</p>
          <h2>COFFEE COMBO</h2>
        </div>
        <div class="btn_2_container">
          <div class="btn_next_2"><img src="img/arrow.svg" alt="" /></div>
          <div class="btn_previous_2 complete_absence_on_the_page">
            <img src="img/arrow.svg" alt="" />
          </div>
        </div>
        <div class="card_combo_container">
          <div class="card_combo">
            <div class="img_card_combo">
              <img src="img/2coffee_1.png" alt="" />
            </div>
            <div class="text_card_combo_container">
              <div class="price_combo">
                <p class="current_price">147.000</p>
                <p class="discount">155.000</p>
              </div>
              <h2>Bold Revo Combo</h2>
              <p>
                The caffeine content in Revo Bold is strong enough to keep you
                awake to work...
              </p>
              <div class="btn_combo_container">
                <div class="btn_combo_1">BUY NOW</div>
                <div class="btn_combo_2">DETAIL</div>
              </div>
            </div>
          </div>

          <div class="card_combo">
            <div class="img_card_combo">
              <img src="img/2coffee_2.png" alt="" />
            </div>
            <div class="text_card_combo_container">
              <div class="price_combo">
                <p class="current_price">156.000</p>
                <p class="discount">165.000</p>
              </div>
              <h2>Combo Revo Everyday</h2>
              <p>
                Revo Everyday is a blend of the bitter taste of Robusta beans
                and the aroma of...
              </p>
              <div class="btn_combo_container">
                <div class="btn_combo_1">BUY NOW</div>
                <div class="btn_combo_2">DETAIL</div>
              </div>
            </div>
          </div>

          <div class="card_combo">
            <div class="img_card_combo">
              <img src="img/2coffee_3.png" alt="" />
            </div>
            <div class="text_card_combo_container">
              <div class="price_combo">
                <p class="current_price">275.000</p>
                <p class="discount">260.000</p>
              </div>
              <h2>Combo Revo Honey</h2>
              <p>
                Honey – in the name Revo Honey comes from the method of
                processing Arabica beans...
              </p>
              <div class="btn_combo_container">
                <div class="btn_combo_1">BUY NOW</div>
                <div class="btn_combo_2">DETAIL</div>
              </div>
            </div>
          </div>

          <div class="card_combo">
            <div class="img_card_combo">
              <img src="img/2coffee_4.png" alt="" />
            </div>
            <div class="text_card_combo_container">
              <div class="price_combo">
                <p class="current_price">249.000</p>
                <p class="discount">236.000</p>
              </div>
              <h2>Combo Revo Honey</h2>
              <p>
                Revo Natural is a special coffee line of Revo Coffee dedicated
                to...
              </p>
              <div class="btn_combo_container">
                <div class="btn_combo_1">BUY NOW</div>
                <div class="btn_combo_2">DETAIL</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>© Revo Coffee Vietnam - designed in 2018</p>
    </footer>

    <aside class="login_container close">
      <div class="br_login"></div>
      <form
        class="form_position"
        name="f"
        method="post"
        action="/process_login"
      >
        <div class="close_btn_login">X</div>
        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
        />
        <label for="username">Почта:</label>
        <input type="text" name="username" id="username" />
        <br />
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" />
        <br />
        <input class="submit_login" type="submit" value="Login" />

        <div class="error_login" th:if="${param.error}" style="color: red">
          Неправильные имя или пароль
        </div>
      </form>
    </aside>

    <aside class="regist_container close">
      <div class="br_regist"></div>
      <form
        class="form_regist"
        th:method="POST"
        th:action="@{/auth/registration}"
        th:object="${person}"
      >
        <div class="close_btn_regist">X</div>
        <label for="name">Введите имя пользователя: </label>
        <input type="text" th:field="*{name}" id="name" />
        <div
          style="color: red"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
        >
          Username error
        </div>
        <br />
        <label for="email">Введите вашу почту: </label>
        <input type="text" th:field="*{email}" id="email" />
        <div
          style="color: red"
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
        >
          Email error
        </div>
        <br />
        <label for="password">Введите ваш пароль: </label>
        <input type="password" th:field="*{password}" id="password" />
        <div
          style="color: red"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
        >
          Password error
        </div>
        <br />
        <input class="submit_regist" type="submit" value="Sign up!" />
      </form>
    </aside>
    <script src="scripts.js"></script>
  </body>
</html>
